/*
body{
    background-image: url(/template/images/kubstu.png);
}*/

.selectGrey{
    color:black;
    font-size: 12pt;
    background: #bbbbbb;
}
.lol{
    margin-left: 70%;
}

.final {
    text-align: center;
    vertical-align:middle;
}